----------------------------------------------------------------
 File:         project.config
 Description:  Project configuration file
----------------------------------------------------------------

---Project name and the rtl top module(s)
[*] project = axi_uart
[*] rtl_top = axi_uart_top

---Project features (separated by space)
---- Linter               : verilator | spyglass        |                |
---- Synthesis            : quartus   | yosys           | vivado (wip)   | cadence (wip)
---- Simulation           : iverilog  | verilator (wip) | modelsim (wip) |
---- FPGA test            : altera    | lattice         | xilinx (wip)   |
---- FPGA simulation test : altera    | lattice         | xilinx (wip)   |
---- FPGA simulation tool : iverilog  | verilator (wip) | modelsim (wip) |
[*] rtl_linter = spyglass
[*] rtl_synth_tools = quartus yosys
[*] sim_tool = iverilog
[*] fpga_test = altera lattice
[*] fpga_sim_test = altera lattice
[*] fpga_sim_tool = iverilog

---Specify the RTL linter configuration (verilator / spyglass) (remote option only for spyglass)
[*] rtl_linter_license = 27020@epi01.bsc.es
[*] rtl_linter_remote = yes
[*] rtl_linter_remote_ip = epi02.bsc.es
[*] rtl_linter_env_source = /eda/env.sh

---Specify the RTL synthesis tool configuration (quartus / yosys / vivado (wip) / cadence (wip))
---and synthesis configuration for each tool
[*] rtl_synth_uses_clk = yes
[*] rtl_synth_clk_src = fixed_clk_i axi_aclk_i clk_i
[*] rtl_synth_quartus_target = Cyclone IV
[*] rtl_synth_quartus_device = EP4CE22F17C6
[*] rtl_synth_quartus_clk_mhz = 50 150 50
[*] rtl_synth_yosys_target = ice40
[*] rtl_synth_yosys_device = hx8k
[*] rtl_synth_yosys_clk_mhz = 12 36 12
[*] rtl_synth_yosys_pnr_tool = nextpnr

---Specify the simulation tool configuration
[*] sim_modules = 
[*] sim_create_vcd = yes
[*] sim_open_wave = no

---Specify the FPGA test configuration
[*] fpga_top = axi_uart_top
[*] fpga_virtual_pins = yes
[*] fpga_board_test = no
[*] fpga_uses_clk = yes
[*] fpga_clk_src = fixed_clk_i axi_aclk_i clk_i
[*] fpga_synth_altera = yes
[*] fpga_synth_lattice = yes

---Altera FPGA configuration
[*] fpga_altera_target = Cyclone IV
[*] fpga_altera_device = EP4CE22F17C6
[*] fpga_altera_package = normal
[*] fpga_altera_min_temp = 0
[*] fpga_altera_max_temp = 85
[*] fpga_altera_clk_mhz = 50 150 50

---Lattice FPGA configuration
[*] fpga_lattice_target = ice40
[*] fpga_lattice_device = up5k
[*] fpga_lattice_package = sg48
[*] fpga_lattice_clk_mhz = 12 36 12
[*] fpga_lattice_pnr_tool = nextpnr

---Xilinx FPGA configuration (wip)

---FPGA RTL simulation configuration
[*] fpga_sim_inc_main_sim_dir = yes
[*] fpga_sim_create_vcd = yes
[*] fpga_sim_open_wave = no

---Altera FPGA RTL simulation configuration
[*] fpga_sim_modules_altera = 

---Lattice FPGA RTL simulation configuration
[*] fpga_sim_modules_lattice = 
