----------------------------------------------------------------
 File:         project.config                                    
 Description:  Project configuration file                        
 URL:          https://github.com/m4j0rt0m/rtl-develop-template  
----------------------------------------------------------------

---Project name and the rtl top module(s)
[*] project = axi_uart
[*] rtl_top = axi_uart_top

---Specify the RTL linter (verilator / spyglass) (remote option only for spyglass)
[*] rtl_linter = spyglass
[*] rtl_linter_license = 27020@epi01.bsc.es
[*] rtl_linter_remote = yes
[*] rtl_linter_remote_ip = epi02.bsc.es
[*] rtl_linter_env_source = /eda/env.sh

---Specify the RTL synthesis tool (quartus / yosys / vivado (wip) / cadence (wip))
---and synthesis configuration for each tool
[*] rtl_synth_tools = quartus yosys
[*] rtl_synth_uses_clk = yes
[*] rtl_synth_clk_src = fixed_clk_i axi_aclk_i clk_i
[*] rtl_synth_quartus_target = Cyclone IV
[*] rtl_synth_quartus_device = EP4CE22F17C6
[*] rtl_synth_quartus_clk_mhz = 50 100 50
[*] rtl_synth_yosys_target = ice40
[*] rtl_synth_yosys_device = hx8k
[*] rtl_synth_yosys_clk_mhz = 12 48 12
[*] rtl_synth_yosys_pnr_tool = nextpnr

---Specify the simulation tool to use (iverilog / verilator (wip) / modelsim (wip))
---also, specify the simulation top modules
[*] sim_modules = 
[*] sim_tool = iverilog
[*] sim_create_vcd = no
[*] sim_open_wave = no

---Specify the FPGA test configuration
[*] fpga_top = axi_uart_top
[*] fpga_virtual_pins = yes
[*] fpga_board_test = no
[*] fpga_uses_clk = yes
[*] fpga_clk_src = fixed_clk_i axi_aclk_i
[*] fpga_synth_altera = yes
[*] fpga_synth_lattice = yes

---Altera FPGA configuration
[*] fpga_altera_target = Cyclone IV
[*] fpga_altera_device = EP4CE22F17C6
[*] fpga_altera_package = normal
[*] fpga_altera_min_temp = 0
[*] fpga_altera_max_temp = 85
[*] fpga_altera_clk_mhz = 50 100

---Lattice FPGA configuration
[*] fpga_lattice_target = ice40
[*] fpga_lattice_device = hx8k
[*] fpga_lattice_package = ct256
[*] fpga_lattice_clk_mhz = 12 48
[*] fpga_lattice_pnr_tool = nextpnr

---Xilinx FPGA configuration (wip)

---FPGA RTL simulation
[*] fpga_sim_altera = no
[*] fpga_sim_lattice = no

---Altera FPGA RTL simulation configuration (iverilog / verilator (wip) / modelsim (wip))
[*] sim_modules_altera = 
[*] sim_tool_altera = iverilog
[*] sim_create_vcd_altera = no
[*] sim_open_wave_altera = no

---Lattice FPGA RTL simulation configuration (iverilog / verilator (wip) / modelsim (wip))
[*] sim_modules_lattice = 
[*] sim_tool_lattice = iverilog
[*] sim_create_vcd_lattice = no
[*] sim_open_wave_lattice = no
