# lattice icestick pinout template
# device: hx1k

set_io CLOCK 21

set_io LED_0 99
set_io LED_1 98
set_io LED_2 97
set_io LED_3 96
set_io LED_4 95

set_io HEADER_J1_02 112
set_io HEADER_J1_03 113
set_io HEADER_J1_04 114
set_io HEADER_J1_05 115
set_io HEADER_J1_06 116
set_io HEADER_J1_07 117
set_io HEADER_J1_08 118
set_io HEADER_J1_09 119

set_io HEADER_J3_10 44
set_io HEADER_J3_11 45
set_io HEADER_J3_12 47
set_io HEADER_J3_13 48
set_io HEADER_J3_14 56
set_io HEADER_J3_15 60
set_io HEADER_J3_16 61
set_io HEADER_J3_17 62

set_io PMOD_J2_01 78
set_io PMOD_J2_02 79
set_io PMOD_J2_03 80
set_io PMOD_J2_04 81
set_io PMOD_J2_07 87
set_io PMOD_J2_08 88
set_io PMOD_J2_09 90
set_io PMOD_J2_10 91

set_io UART_RX 9
set_io UART_TX 8
set_io UART_RTSN 7
set_io UART_CTSN 4
set_io UART_DTRN 3
set_io UART_DSRN 2
set_io UART_DCDN 1

set_io IR_RX 106
set_io IR_TX 105
set_io IR_SD 107
